*{
    background-color: rgb(18, 10, 10);
}
* {
    margin: 0px;
    padding: 0px;
    background-color: rgb(9, 9, 9);
    color: white;
  }
  
  #header {
   margin-top: 10px;
    display: flex;
    align-items: left;
    justify-content: space-around;
    background-color: rgb(1, 1, 1);
    height: 90px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  nav ul {
    margin-top: 10px;
    position:fixed;
    right: 60px;
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: transparent;
  }
  
  nav ul li {
    background-color: transparent;
    margin: 0 30px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    transition: color 0.2s ease;
  }
  
  nav a:hover {
    color: #ccc;
  }
  